@model JS_SQL_Database.Models.DisplayData

@{
    ViewBag.Title = "DisplayData";
}

<h2>Display School Data</h2>

<div class="row wrapper">

    <div class="col-md-8 col-lg-8" id="outputfield">
        <span>Data here!</span>

    </div>



    <div class="col-md-8 col-lg-8" id="buttonsfield">


        @using (Ajax.BeginForm("RequestData", "Home", new AjaxOptions
    {

        UpdateTargetId = "outputfield",
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace
    }))

    {
        <input type="submit" class="btn btn-default" name="pressedButton" value="All students" />
        <input type="submit" class="btn btn-default" name="pressedButton" value="All courses" />
        <input type="submit" class="btn btn-default" name="pressedButton" value="All teachers" />
        <input type="submit" class="btn btn-default" name="pressedButton" value="All assignments" />


        <hr />
        <label for="filter">Show student data</label><br />
        <label for="filter">Student name or Id:</label>

        <input type="text" class="form-control" name="studentId">

        <input type="submit" class="btn btn-default" name="pressedButton" value="Student assignments" />
        <input type="submit" class="btn btn-default" name="pressedButton" value="Student courses" />

        <hr />

        <label for="filter">Show course data</label><br />
        <label for="filter">Course name or Id:</label>

        <input type="text" class="form-control" name="courseId">

        <input type="submit" class="btn btn-default" name="pressedButton" value="Students attending" />
        <input type="submit" class="btn btn-default" name="pressedButton" value="Required assignments" />
        <input type="submit" class="btn btn-default" name="pressedButton" value="All data" />

        <hr />






}

    </div>
    

</div>


@*To do: Add functions to show data for a course (assignments, students, teacher) and for an assignment (course, students)*@