@model JS_SQL_Database.Models.Course


<div class="col-lg-8 col-md-8">
    <br />
    <span class="col-lg-2 col-md-2" id="id">@Model.CourseId</span>
    <span class="col-lg-3 col-md-3" id="name">@Model.Name</span>
    <span class="col-lg-3 col-md-3" id="teacher">@Model.Teaching.Name</span>

</div>